.catalog {
  padding: 70px 0 140px;
  background-color: $black-pearl;

  @include vp-1023 {
    padding: 60px 0 75px;
  }

  @include vp-767 {
    padding: 50px 0 85px;
  }
}

.catalog__title {
  margin: 0 0 50px;
  font-family: $ff-roboto-condensed;
  font-weight: 400;
  font-size: 36px;
  line-height: 51px;
  color: $color-default-white;

  @include vp-767 {
    margin: 0 0 40px;
    font-size: 28px;
    line-height: 39px;
  }
}

.catalog__title-text {
  &--mobile {
    display: none;
  }

  @include vp-767 {
    display: none;

    &--mobile {
      display: inline;
    }
  }
}

.catalog__list {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  gap: 7%;

  @include vp-1023 {
    flex-direction: column;
    gap: 30px;
  }
}

.catalog__item {
  flex: 0 1 350px;

  @include vp-1023 {
    flex: 0 1 250px;
  }
}

.catalog__card {
  position: relative;
  padding: 50px 40px;
  display: block;
  height: 650px;

  @include vp-1023 {
    padding: 40px 45px;
    height: 100%;
  }

  @include vp-767 {
    padding: 30px;
  }

  @include hover-focus {
    box-shadow: 0 0 10px $deep-sky-blue;

    &:active {
      transform: scale(0.98);
    }
  }

  &:active {
    transform: scale(0.98);
  }
}

.catalog__card::before {
  content: "";
  position: absolute;
  bottom: 0;
  right: 0;
  width: 60px;
  height: 60px;
  border-radius: 3px 0 0 0;
  background: url("../../img/svg/arrow.svg") center no-repeat, $deep-sky-blue;

  @include vp-767 {
    width: 40px;
    height: 40px;
    background-size: 4px auto;
  }
}

.catalog__card-text {
  margin: 0;
  max-width: 230px;
  color: $color-default-white;
  font-family: $ff-roboto-condensed;
  font-size: 20px;
  line-height: 30px;

  @include vp-767 {
    font-size: 18px;
    line-height: 30px;
  }
}

/* Background for cards */

$cards: 1, 2, 3;

@each $card in $cards {
  $urlDesktop: "../../img/catalog/catalog-" + $card + "-desktop.jpg";
  $urlDesktop2x: "../../img/catalog/catalog-" + $card + "-desktop@2x.jpg";
  $urlTablet: "../../img/catalog/catalog-" + $card + "-tablet.jpg";
  $urlTablet2x: "../../img/catalog/catalog-" + $card + "-tablet@2x.jpg";
  $urlMobile: "../../img/catalog/catalog-" + $card + "-mobile.jpg";
  $urlMobile2x: "../../img/catalog/catalog-" + $card + "-mobile@2x.jpg";

  .catalog__card--#{$card} {
    background: url($urlDesktop) center/cover no-repeat, $cerulean;

    @include vp-1023 {
      background: url($urlTablet) center/cover no-repeat, $cerulean;
    }

    @include vp-374 {
      background: url($urlMobile) center/cover no-repeat, $cerulean;
    }

    @media (min-resolution: $retina-dpi) and (min-width: $vp-1024),
      (min-resolution: $retina-dppx) and (min-width: $vp-1024) {
      background: url($urlDesktop2x) center/cover no-repeat, $cerulean;
    }

    @media (min-resolution: $retina-dpi) and (min-width: $vp-375) and (max-width: ($vp-1024 - 1px)),
      (min-resolution: $retina-dppx) and (min-width: $vp-375) and (max-width: ($vp-1024 - 1px)) {
      background: url($urlTablet2x) center/cover no-repeat, $cerulean;
    }

    @media (min-resolution: $retina-dpi) and (max-width: ($vp-375 - 1px)),
      (min-resolution: $retina-dppx) and (max-width: ($vp-375 - 1px)) {
      background: url($urlMobile2x) center/cover no-repeat, $cerulean;
    }
  }
}
