.contact-form {
  position: relative;
  min-height: 840px;
  background: linear-gradient(90deg, $cerulean 0 50%, $deep-sky-blue 50% 100%);
  overflow: hidden;

  &::before {
    content: "";
    position: absolute;
    top: 0;
    right: 50%;
    transform: translateX(50%);
    width: $vp-1920;
    height: 100%;
    background:url("../../img/svg/plane.svg") 350px 246px/510px 285px no-repeat,
      linear-gradient(139deg, $cerulean 0 633px, $deep-sky-blue 633px 100%);

    @include vp-1319 {
      right: -300px;
      transform: translateX(0);
    }
  }
}

.contact-form__container {
  position: relative;
  z-index: 1;
  margin: 160px 0 0 auto;
  padding: 10px;
  width: 580px;
  min-height: 420px;
  color: $color-default-white;
}

.contact-form__title {
  margin: 0 0 15px;
  font-family: $ff-roboto-condensed;
  font-weight: 400;
  font-size: 36px;
  line-height: 51px;
}

.contact-form__description {
  margin: 0 0 35px;
  font-size: 16px;
  line-height: 22px;
}
