.footer {
  padding: 55px 0;
  color: $color-default-white;
  background-color: $black-pearl;

  @include vp-1023 {
    padding: 50px 0 65px;
  }

  @include vp-767 {
    padding: 35px 0;
  }
}

.footer__container {
  display: flex;
  justify-content: flex-start;

  @include vp-767 {
    padding: 0;
  }
}

.footer__intro {
  flex: 0 0 auto;
  margin: 0 80px 0 0;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.footer__logo {
  margin: 0 0 30px;
  color: inherit;
}

.footer__title {
  margin: 0 0 20px;
  font-family: $ff-roboto-condensed;
  font-weight: 400;
  font-size: 15px;
  line-height: 16px;
  letter-spacing: 0.05em;
  text-transform: uppercase;
}

.footer__block {
  flex: 0 1 375px;
  margin-left: auto;

  &:last-child {
    margin-left: 30px;
  }
}

@mixin footer__block--wrap {
  flex: 0 1 470px;

  .footer__list {
    max-height: 130px;
    flex-wrap: wrap;
    column-gap: 30px;
  }

  .footer__item {
    width: 220px;
  }
}

.footer__block--wrap {
  @media (min-width: $vp-1280) {
    @include footer__block--wrap;
  }
}

.footer__list {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  flex-direction: column;
}

.footer__item {
  margin-bottom: 5px;
}

.footer__link {
  display: block;
  color: inherit;
  opacity: 0.7;
}

