.logo {
  display: flex;

  &:hover,
  &:focus-visible {
    opacity: 0.8;
  }

  &:active {
    opacity: 0.6;
  }
}

.logo__text {
  margin: 5px 0 0 15px;
}

.logo__title {
  margin: 0 0 5px;
  font-family: $ff-roboto-condensed;
  font-weight: 700;
  font-size: 25px;
  line-height: 29px;
}

.logo__description {
  margin: 0;
  font-family: $ff-roboto;
  font-weight: 500;
  font-size: 12px;
  line-height: 14px;
  opacity: 0.7;
}
