.socials__list-wrapper ul {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  gap: 15px;
}

.socials__list-wrapper a {
  position: relative;
  display: block;
  width: 40px;
  height: 40px;
  user-select: none;

  @include interactive-1;

  span {
    @include visually-hidden;
  }
}

.socials__list-wrapper svg {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 30px;
  height: 30px;
}
